table, tr, td{
    border: 1px solid black;
}

tr, td{
    width: 50px;
    height: 50px;
}

.redcell{
    background-color: red;
}

.flagcell{
    background-color: yellow;
}

.clicked1{
    color: green;
}
.clicked2{
    color: orange;
}
.clicked3{
    color: blue;
}
.clicked4{
    color: indigo;
}
.clicked5{
    color: violet;
}
.clicked6{
    color: maroon;
}
.clicked7{
    color: chartreuse;
}
.clicked8{
    color: black;
}
